body{
  width: 100vw;
  height: 100vh;
}




.wrapper{
  height: 100%;
  width: 100%;
  display: flex;
}

.headerPosition{
  height: 64px;
  display: flex;
}




.posseLogo{
  height: 64px;
  margin-left: 8px;
}


.weekPosition{
  color: rgb(114, 240, 240);
  margin-top: 15px;
}

.headerRight{
  margin-left: 500px;
  display: flex;
}
.contentLeft{
  border: solid 1px red;
}


.contentLeftLog{
  display: flex;
}

.contentLeft div{
  padding-left: 20px;
}

.contentLeftBottom {
  height: 500px;
  width: 500px;
}
.contentRight{
  border: solid 1px blue;
  display: flex;
}


.contentRight img{
  width: 300px;
  height: 1000px;
}







